<div class="bg-dark">
  <div class="container mt-4 text-white">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. A laboriosam at dolor commodi dolorem, nemo quisquam molestiae aliquam iste consectetur magni, pariatur totam? Nihil explicabo dignissimos consectetur dolore odio quas?</p>
  </div>

  <!-- Skills Section -->
  <div class="container mt-4 text-white">
    <h2 class="text-center mb-4">Skills</h2>

    <!-- Skill Bars -->
    <div class="skill-bar mb-4">
      <h5>Example Skill 1</h5>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-label="Example 20px high" style="width: 25%;"></div>
      </div>
    </div>

    <div class="skill-bar mb-4">
      <h5>Example Skill 2</h5>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" aria-label="Basic example" style="width: 0%;"></div>
      </div>
    </div>

    <div class="skill-bar mb-4">
      <h5>Example Skill 3</h5>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" aria-label="Basic example" style="width: 25%;"></div>
      </div>
    </div>

    <div class="skill-bar mb-4">
      <h5>Example Skill 4</h5>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" aria-label="Basic example" style="width: 50%;"></div>
      </div>
    </div>

    <div class="skill-bar mb-4">
      <h5>Example Skill 5</h5>
      <div class="progress">
        <div class="progress-bar bg-primary" role="progressbar" aria-label="Basic example" style="width: 75%;"></div>
      </div>
    </div>

    <div class="skill-bar mb-4">
      <h5>Example Skill 6</h5>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" aria-label="Basic example" style="width: 100%;"></div>
      </div>
    </div>
  </div>
</div>
