<!-- about us -->
<div class="container my-5">
  <div class="row">
      <div class="col-md-6">
          <img src="https://tse4.mm.bing.net/th?id=OIP.osJJG2gdfcVjBvJkc3A4QgHaE8&pid=Api&P=0&h=220.jpg" class="img-fluid rounded" alt="About Us Image">
      </div>
      <div class="col-md-6 text-black">
          <h2>About Me</h2>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non purus vel leo fringilla dignissim. Proin venenatis bibendum justo eu ultrices.
              Integer auctor, augue id interdum condimentum, ligula lectus efficitur nulla, vel cursus purus orci a erat.
          </p>
          <p>
              Nullam vulputate justo et lectus tincidunt, id aliquet urna ultricies. Vivamus tincidunt justo at mi volutpat, vel efficitur dui euismod.
              In hac habitasse platea dictumst. Etiam ac mauris sed purus facilisis euismod non nec ipsum.
          </p>
      </div>
  </div>
</div>
<!-- about us  -->
