<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.EHeLCl0qslo1uKqVRlhc6QHaE8&pid=Api&P=0&h=220.jpg');
    height: 400px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">{{username}}</h1>
        <h4 class="mb-3">{{job}}</h4>
        <a class="btn btn-outline-light btn-lg"  href="Users\mona\Downloads\mona\My cv.pdf" download="My cv.pdf" role="button">Download CV</a>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->
